[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
click-config-file = "*"
toml = "*"

[dev-packages]
flake8 = "*"
flake8-quotes = "*"
twine = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python -m zeddo.__init__"
lint = "flake8"
build = "python setup.py sdist bdist_wheel"
check_build = "twine check dist/*"
publish = "twine upload dist/*"
